<style>
	footer, a {
	text-align: center;
	margin-top: 13%;
	color: #696969;
	font-size: 14px;
}
</style>

<footer>
	<p>
		Designed by <a href="https://www.linkedin.com/in/iyanna-boatwright-buffaloe-1077b7186/">Iyanna Boatwright-Buffaloe</a>
	</p>
</footer>

