<html>
	<head>
		<title>Vibe Check 4</title>
		<link rel="stylesheet" type="text/css" href="/css/vibe_check_4.css">
		<link href="https://fonts.googleapis.com/css?family=Archivo+Black&display=swap" rel="stylesheet">
		<script>
			function navigate_to_url(url)
			{
				window.location.href = url; 
			}
		</script>
		<script type="text/javascript" src="/js/paper-full.js" ></script>
		<script type="text/paperscript" canvas="mycanvas"> 
		// Define two points which we will be using to construct
		// the path and to position the gradient color:
		var topLeft = [0,0];
		var bottomRight = [view.size.width, view.size.height];

		// Create a rectangle shaped path between
		// the topLeft and bottomRight points:
		var path = new Path.Rectangle({
		topLeft: topLeft,
		bottomRight: bottomRight,
		
		// Fill the path with a gradient of three color stops
		// that runs between the two points we defined earlier:
		fillColor: {
			gradient: {
				stops: ['purple',  'green']
			},
			origin: topLeft,
			destination: bottomRight
		}
		});
			
			var text = new PointText(new Point(view.size.width/2-2, (view.size.height/2.3)-2));
			var subtitle = new PointText(new Point((view.size.width/2), (view.size.height/2)-2));
			var style = {
				fontSize: 70,
				fillColor: 
				{
					hue: Math.random * 360,
					saturation: 1,
					brightness: 1
				}, 
				justification: "center",
				fontFamily: "Archivo Black"
			};
			
			text.content = "vibe check";
			text.style = style;
			
			subtitle.content = "click to enhance vibes";
			subtitle.style = style; 
			subtitle.fontSize = 20; 
			
			var right_arrow = new PointText(new Point(view.size.width - (view.size.width/5), view.size.height - (view.size.height/9)));
		
		var left_arrow = new PointText(new Point(view.size.width/5, view.size.height - (view.size.height/9)));
		
		var arrow_style = {
		fontSize: 75, 
		fontFamily: "Archivo Black"
		}
		
		right_arrow.content = ">";
		left_arrow.content = "<"; 
		
		right_arrow.style = arrow_style; 
		left_arrow.style = arrow_style; 
		
		
		right_arrow.fillColor = text.fillColor; 
		left_arrow.fillColor = text.fillColor; 
		
		
		right_arrow.onMouseDown = function() 
		{
			navigate_to_url("day5"); 
		}
		left_arrow.onMouseDown = function () {
			navigate_to_url("day3");
		}
		
		
		
		var rand_x =Math.random() < 0.5 ? -2 : 2;
		var rand_y = Math.random() < 0.5 ? -2 : 2; 
		var animate = 1; 
		
		tool.onKeyDown =  function(event)
		{
			if (event.key == 'space')
			{
				if(animate)
				{
					animate = 0;
				}
				else 
				{
					animate = 1; 
				}
			}
		}
		
		text.onMouseDown = function() {
			toggle_sound();
		};
		
		function onFrame(event)
		{
			if(animate)
			{
				text.translate(rand_x, rand_y);
				subtitle.translate(rand_x, rand_y);
				
				if(text.bounds.bottomRight.x > view.bounds.width || text.bounds.topLeft.x < 0)
				{
					rand_x = -rand_x;
					
					var old_hue = text.fillColor.hue; 
					text.fillColor.hue = Math.random() * 360;
					subtitle.fillColor.hue = text.fillColor.hue; 
					right_arrow.fillColor.hue = text.fillColor.hue; 
					left_arrow.fillColor.hue = text.fillColor.hue; 
					
					
				}
				else if(text.bounds.topLeft.y < 0 || subtitle.bounds.bottomRight.y > view.bounds.height)
				{
					rand_y = -rand_y;
					
					var old_hue = text.fillColor.hue; 
					text.fillColor.hue = Math.random() * 360;
					subtitle.fillColor.hue = text.fillColor.hue; 
					right_arrow.fillColor.hue = text.fillColor.hue; 
					left_arrow.fillColor.hue = text.fillColor.hue; 
				}
			}
		}
		function onResize(event)
		{
			console.log("resize");
		}
		
		text.onMouseEnter = function() {
		text.fillColor.lightness = text.fillColor.lightness + .09;
		subtitle.fillColor.lightness = subtitle.fillColor.lightness + .09;
		}
		
		text.onMouseLeave = function() {
		text.fillColor.lightness = text.fillColor.lightness - .09;
		subtitle.fillColor.lightness = subtitle.fillColor.lightness -  .09;
		}
		right_arrow.onMouseEnter = function () {
			right_arrow.fillColor.lightness = right_arrow.fillColor.lightness + .09;
		}
		
		left_arrow.onMouseEnter = function () {
			left_arrow.fillColor.lightness = left_arrow.fillColor.lightness + .09;
		} 
		
		right_arrow.onMouseLeave =  function () {
			right_arrow.fillColor.lightness = right_arrow.fillColor.lightness - .09;
		}
		
		left_arrow.onMouseLeave =  function () {
			left_arrow.fillColor.lightness = left_arrow.fillColor.lightness - .09;
		}
			
		</script>
	</head>
	<body>
		<canvas id="mycanvas" resize></canvas>
		<script type="text/javascript" src="/js/vibe_check_4.js"></script>
	</body>
</html>
